---
// ProfileHeader.astro
import { Image } from "astro:assets";
import type { Profile } from "../data/profile";

interface Props {
  profile: Profile;
}

const { profile } = Astro.props;
---

<div class="flex flex-col md:flex-row items-center gap-6">
  <div class="flex-shrink-0">
    <img
      src={profile.picture}
      alt="Profile photo"
      class="h-64 w-64 rounded-4xl"
    />
  </div>

  <div class="flex flex-col gap-2 text-center md:text-left">
    <h1 class="text-3xl font-bold text-slate-900">{profile.name}</h1>

    <p class="text-slate-400 font-light italic text-lg">
      {profile.description}
    </p>

    <div class="flex justify-center md:justify-start items-center gap-4 mt-2">
      {
        profile.social.map((link) => (
          <a
            href={link.url}
            target="_blank"
            rel="noopener noreferrer"
            class="text-gray-600 hover:text-gray-900 transition-colors"
            aria-label={link.platform}
          >
            <img src={link.icon} alt={link.platform} class="w-12 h-12" />
          </a>
        ))
      }
    </div>
  </div>
</div>
