---
// ProfileHeader.astro
import { Image } from "astro:assets";
import type { Profile } from "../data/profile";

interface Props {
  profile: Profile;
}

const { profile } = Astro.props;
---

<div class="flex flex-col md:flex-row items-center gap-6 max-w-xl mx-auto p-6">
  <div class="flex-shrink-0">
    <Image
      src={profile.picture}
      alt="Profile photo"
      width={200}
      height={200}
      class="rounded-4xl"
    />
  </div>

  <div class="flex flex-col gap-2 text-center md:text-left">
    <h1 class="text-3xl font-bold text-slate-900">{profile.name}</h1>

    <p class="text-slate-400 font-light italic text-lg">
      {profile.description}
    </p>

    <div class="flex justify-center md:justify-start items-center gap-4 mt-2">
      {
        profile.social.map((link) => (
          <a
            href={link.url}
            target="_blank"
            rel="noopener noreferrer"
            class="text-gray-600 hover:text-gray-900 transition-colors"
            aria-label={link.platform}
          >
            <Image src={link.icon} alt={link.platform} width={32} height={32} />
          </a>
        ))
      }
    </div>
  </div>
</div>
